button,
.button
  font-size: 1rem
  text-decoration: none
  padding: 0.25rem 1rem
  border-radius: .5rem
  border: none
  outline: none
  cursor: pointer
  margin: 0 10px
  background-color: $cyan-opaque

button:hover
  border-radius: 50%
  transition: all 1s ease-in-out

link
a
  text-decoration: none
